*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	margin:0px;
	padding:0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
	color: #484848;
    line-height: 1.3em;
	font-size: 16px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /* border: 1px solid green; */
}

.container {
    /* max-width: 1000px; */
    margin: 30px;
    flex: 1;
    background-color: #fffdfd;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

a {
    color: #008EDA;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: rgb(21, 181, 9);
    text-decoration: underline;
}
