<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRK | about</title>
    <link rel="shortcut icon" href="static/images/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/content.css') + '?' + cache_id }}">
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/header.js') + '?' + cache_id }}"></script>
</head>
<body>
    <header>
        <div id="header_logo"></div>
        <!-- Hamburger Icon -->
        <span class="menu_icon">&#9776;</span>
        <!-- Close Icon (Initially Hidden) -->
        <span class="close_icon">&times;</span>
        
        <!-- Navigation Links -->
        <nav class="nav_links">
            <a href="/">Home</a>
            <a href="/concept_list">Concepts</a>
            <a href="/about">About</a>
        </nav>
    </header>
    <div class="container">
        <div class="about">
            <p>
                Welcome to Maths Resource Kit, where mathematics becomes your guide to mastering 📚 the world around you. Whether it's science, technology, business, or the arts, math is the hidden force driving innovation and progress. At the lower secondary level, it’s easy to overlook the magic ✨ of mathematics, but trust me, it's the foundation of greatness. Think of math as the magician's wand, embrace it, and you’ll unlock incredible potential! 🚀
            </p>
            <h2>Why Start with Mathematics?</h2>
            <p>
                Many subjects seem challenging because of the math involved. But here’s the secret: once you understand the math behind a concept, everything else falls into place. Math is the key to unraveling complexities and making sense of the world. It’s a universal language, applied in nearly every field, and with the right foundation, you'll turn challenges into opportunities for growth.
            </p>
            <h2>More Info</h2>
            <p>
                Whenever you're stuck on a subject that involves math, start by understanding the basic mathematical principles behind it. With Maths Resource Kit, you'll build those strong foundations and discover that once the math is clear, everything else follows smoothly 🥳. Did you know that its math that is running this <a href="https://www.google.com/search?q=math+behind+the+website" target="_blank" rel="noopener noreferrer">website?</a> 😲
            </p>
            <p>Dive in, explore, and let math empower your learning journey! 😊</p>
            <h2>Author</h2>
            <ul>
                <li>Ssekyene Robert - 
                    <a href="mailto:robertssekyene05@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>/
                    <a href="https://wa.me/256755917055" target="_blank" rel="noopener noreferrer">WhatsApp</a>/<a href="https://x.com/robkj256" target="_blank" rel="noopener noreferrer">Twitter</a>/
                    <a href="https://www.linkedin.com/in/robertssekyene/" target="_blank" rel="noopener noreferrer">LinkedIn</a>/
                    <a href="https://github.com/Ssekyene" target="_blank" rel="noopener noreferrer">GitHub</a>
                </li>
            </ul>
            <p><a href="https://github.com/Ssekyene/Maths_Resource_Kit" target="_blank" rel="noopener noreferrer">Here</a> is the Project's source code</p>
        </div>
        <p class="back" onclick="history.back()">&larr; back</p>
    </div>
    <footer>
        <div class="footer">
            <h2>Get in touch</h2>
            <p>For any inquiries, issues, further details or contributions to this platform, your most welcome and below are my reach out platforms</p>
            <div class="socials">
                <a href="https://wa.me/256755917055" target="_blank" rel="noopener noreferrer"><i class="whatsapp_icon icons"></i></a>
                <a href="https://www.linkedin.com/in/robertssekyene/" target="_blank" rel="noopener noreferrer"><i class="linkedin_icon icons"></i></a>
                <a href="https://x.com/robkj256" target="_blank" rel="noopener noreferrer"><i class="x_icon icons"></i></a>
                <a href="mailto:robertssekyene05@gmail.com" target="_blank" rel="noopener noreferrer"><i class="gmail_icon icons"></i></a>
                <a href="https://github.com/Ssekyene" target="_blank" rel="noopener noreferrer"><i class="github_icon icons"></i></a>
            </div>
            <p style="margin-top: -7px">Click <a href="https://github.com/Ssekyene/Maths_Resource_Kit" target="_blank" rel="noopener noreferrer">here</a> for the project's source code</p>
        </div>
    </footer>
</body>
</html>