<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRK | concepts</title>
    <link rel="shortcut icon" href="images/icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/content.css') + '?' + cache_id }}">
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/header.js') + '?' + cache_id }}"></script>
    <script src="{{ url_for('static', filename='scripts/content.js') + '?' + cache_id }}"></script>
</head>
<body>
    <header>
        <div id="header_logo"></div>
        <!-- Hamburger Icon -->
        <span class="menu_icon">&#9776;</span>
        <!-- Close Icon (Initially Hidden) -->
        <span class="close_icon">&times;</span>
        
        <!-- Navigation Links -->
        <nav class="nav_links">
            <a href="/">Home</a>
            <a href="/concept_list">Concepts</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <div class="container">
        <h1>Concepts</h1>
        <section class="search">
            <div class="input_wrapper">
                <input id="search_input" type="search" placeholder="Search for concepts"><i class="search_icon"></i>
            </div>
        </section>
        <div class="list">
            <ul>
                {% for concept in concepts.values()|sort(attribute='priority') %}
                <li><a href="/concept/{{ concept.name }}" data-name="{{ concept.name }}">{{ concept.name }}</a></li>
                {% endfor %}
        </div>
    </div>
    <footer>
        <div class="footer">
            <h2>Get in touch</h2>
            <p>For any inquiries, further details or contributions to this platform, your most welcome and below are my reach out platforms</p>
            <div class="socials">
                <a href="https://wa.me/256755917055" target="_blank" rel="noopener noreferrer"><i class="whatsapp_icon icons"></i></a>
                <a href="https://www.linkedin.com/in/robertssekyene/" target="_blank" rel="noopener noreferrer"><i class="linkedin_icon icons"></i></a>
                <a href="https://x.com/robkj256" target="_blank" rel="noopener noreferrer"><i class="x_icon icons"></i></a>
                <a href="mailto:robertssekyene05@gmail.com" target="_blank" rel="noopener noreferrer"><i class="gmail_icon icons"></i></a>
                <a href="https://github.com/Ssekyene" target="_blank" rel="noopener noreferrer"><i class="github_icon icons"></i></a>
            </div>
            <p style="margin-top: -7px">Click <a href="https://github.com/Ssekyene/Math_Resource_Kit" target="_blank" rel="noopener noreferrer">here</a> for the project's source code</p>
        </div>
    </footer>
</body>
</html>