<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRK</title>
    <link rel="shortcut icon" href="static/images/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/content.css') + '?' + cache_id }}">
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/header.js') + '?' + cache_id }}"></script>

</head>
<body>
    <header>
        <div id="header_logo"></div></a>
        <!-- Hamburger Icon -->
        <span class="menu_icon">&#9776;</span>
        <!-- Close Icon (Initially Hidden) -->
        <span class="close_icon">&times;</span>
        
        <!-- Navigation Links -->
        <nav class="nav_links">
            <a href="/">Home</a>
            <a href="/concept_list">Concepts</a>
            <a href="/about">About</a>
        </nav>
    </header>
    <div class="container">
        <section class="upper">
            <div class="left">
                <h2>Maths<br>Resource<br>Kit</h2>
                <p>"<span>Welcome</span> to the Maths Resource Kit - <span class="green">your go-to</span> platform for mastering mathematics concepts with <span>ease!</span> We provide <span>well-organized</span> articles, videos, interactive tools, and more to help you learn <span class="red">step-by-step</span>, all tailored to the Lower Secondary Curriculum. Whether you're following Uganda's curriculum or just <span class="attract">curious about different concepts</span>, our resources will support your journey to maths <span class="green">success</span>."</p>
                <button onclick="window.location.href='/about'">Read More</button>
            </div>
            <!-- <div id="landing_pic" class="right"></div> -->
            <div class="right"><img src="../static/images/learning-to-learn.png" alt="landing pic"></div>
        </section>
        <section class="lower">
            <a href="/concept_list" style="text-decoration: none;">
                <h2>Find Resources</h2>
            </a>
        </section>
    </div>
    <div>
    <footer>
        <div class="footer">
            <h2>Get in touch</h2>
            <p>For any inquiries, issues, further details or contributions to this platform, your most welcome and below are my reach out platforms</p>
            <div class="socials">
                <a href="https://wa.me/256755917055" target="_blank" rel="noopener noreferrer"><i class="whatsapp_icon icons"></i></a>
                <a href="https://www.linkedin.com/in/robertssekyene/" target="_blank" rel="noopener noreferrer"><i class="linkedin_icon icons"></i></a>
                <a href="https://x.com/robkj256" target="_blank" rel="noopener noreferrer"><i class="x_icon icons"></i></a>
                <a href="mailto:robertssekyene05@gmail.com" target="_blank" rel="noopener noreferrer"><i class="gmail_icon icons"></i></a>
                <a href="https://github.com/Ssekyene" target="_blank" rel="noopener noreferrer"><i class="github_icon icons"></i></a>
            </div>
            <p style="margin-top: -7px">Click <a href="https://github.com/Ssekyene/Maths_Resource_Kit" target="_blank" rel="noopener noreferrer">here</a> for the project's source code</p>
        </div>
    </footer>
</body>
</html>
