<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRK</title>
    <link rel="shortcut icon" href="static/images/icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/content.css') + '?' + cache_id }}">
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/header.js') + '?' + cache_id }}"></script>

</head>
<body>
    <header>
        <div id="header_logo"></div></a>
        <!-- Hamburger Icon -->
        <span class="menu_icon">&#9776;</span>
        <!-- Close Icon (Initially Hidden) -->
        <span class="close_icon">&times;</span>
        
        <!-- Navigation Links -->
        <nav class="nav_links">
            <a href="/">Home</a>
            <a href="/concept_list">Concepts</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <div class="container">
        <section class="upper">
            <div class="left">
                <h2>Maths<br>Resource<br>Kit</h2>
                <p>A paragraph with a summarized description of Maths Resource Kit</p>
                <button onclick="window.location.href='/not_available'">Read More</button>
            </div>
            <div id="landing_pic" class="right"></div>
        </section>
        <section class="lower">
            <a href="/concept_list" style="text-decoration: none;">
                <h2>CONCEPTS</h2>
            </a>
                <P>Best mathematics resources have been sourced for each concept to facilitate a step by step competence based learning. These resources may include links to articles, blogs, videos and interactive tools. Get ready for a wonderful learning experience!!!</P>
        </section>
    </div>
    <footer>
        <div class="footer">
            <h2>Get in touch</h2>
            <p>For any inquiries, further details or contributions to this platform, your most welcome and below are my reach out platforms</p>
            <div class="socials">
                <a href="https://wa.me/256755917055" target="_blank" rel="noopener noreferrer"><i class="whatsapp_icon icons"></i></a>
                <a href="https://www.linkedin.com/in/robertssekyene/" target="_blank" rel="noopener noreferrer"><i class="linkedin_icon icons"></i></a>
                <a href="https://x.com/robkj256" target="_blank" rel="noopener noreferrer"><i class="x_icon icons"></i></a>
                <a href="mailto:robertssekyene05@gmail.com" target="_blank" rel="noopener noreferrer"><i class="gmail_icon icons"></i></a>
                <a href="https://github.com/Ssekyene" target="_blank" rel="noopener noreferrer"><i class="github_icon icons"></i></a>
            </div>
            <p style="margin-top: -7px">Click <a href="https://github.com/Ssekyene/Math_Resource_Kit" target="_blank" rel="noopener noreferrer">here</a> for the project's source code</p>
        </div>
    </footer>
</body>
</html>
