.list ul {
    border: 2px solid #03010189;
    list-style: none;
    padding-left: 0;
}

.list ul li {
    border: 2px solid rgb(124, 124, 231);
    border-radius: 3px;
    font-size: 1.3em;
    margin: 10px 5px;
    padding: 3px;
}


.list ul li a {
    color: blue;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s;
}

/* .list ul li a:hover {
    color: rgb(21, 181, 9);
    text-decoration: underline;
} */

.list ul li:hover a {
    color: rgb(21, 181, 9);
    text-decoration: underline;
}

.container div {
    /* border: 1px solid red; */
    margin-top: 30px;
}
 .container h2 {
    margin-bottom: 10px;
 }

 .container .resources ul {
    list-style-type: none;
    padding: 10px;
    border: 2px solid #0b0a0a;
 }
 
 .container .resources ul li span {
     margin-right: 6px;
}

.container ol {
    margin-left: 20px;
    padding-top: 10px;
}

.container .quiz ol ul {
    list-style-type: none;
    padding-top: 10px;
    margin-bottom: 20px;
    /* border: 2px solid #0b0a0a; */
}

.container .quiz ol ul li{
    margin-bottom: 8px;
    /* border: 2px solid #0b0a0a; */
}

.container .quiz ol ul li input{
    margin-right: 8px;
    /* border: 2px solid #0b0a0a; */
}

.container .quiz .result  {
    border: 1px solid #0b0a0a;
    color: red;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    width: 170px;
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

button.submit {
    font-size: 1rem;
    padding: 5px;
    width: 100px
}

@media (max-width: 768px) {
    section.upper {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 950px;
    }

    section.upper .left {
        width: 100%;
        margin-top: 0px;
        /* margin-bottom: 20px; */
    }

    section.upper .left p {
        margin-bottom: 20px;
    }

    button{
        margin-top: 10px;
        padding: 4px;
    }

    section.upper .right {
        width: 100%;
        margin-left: 0px;
    }
    section.upper .right::before {
        content: '';  /* Empty pseudo-element */
        display: block;
        margin-bottom: -50%;  /* Maintain 16:9 aspect ratio */
    }

    section.lower {
        width: 100%;
        /* margin-top: -5%; */
    }

    
}

/* for significantly small mobile screens */
@media (max-width: 585px) {
    section.lower {
        margin-top: -15%;
    }
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    /* border: 1px solid red; */

}

.upper .left{
    /* border: 1px solid yellow; */
    flex: 1;
}

.upper .right {
    background-image: url("../images/learning-to-learn.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 2;
    width: 100%;
    /* height: 470px; */
    margin-left: 60px;
    /* padding-top: 0.1%; */
    /* margin-top: 10px; */
    
    /* border: 3px solid green; */
}
section.upper .right::before {
    content: '';  /* Empty pseudo-element */
    display: block;
    padding-top: 95%;  /* Maintain 16:9 aspect ratio */
    /* border: 2px solid blue; */
}

.upper .left {
    
    height: 470px;
}

.upper .left h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    color: #5151e6;
    
}

.upper .left p {
    margin-top: 25px;
}

button {
    margin-top: 20px;
    padding: 8px;
    background-color: #5151e6;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    outline: 1px solid #0b0a0a;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 115px;
}

button:hover {
    color: #100066;
    background-color: #E1F9FF;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.5);
}

.lower {
    margin: 0 auto;
    /* border: 1px solid #03010189; */
    width: 50%;
    /* height: 50%; */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.lower h2 {
    color: #5151e6;
    margin-bottom: 20px;
    padding: 12px;
    cursor: pointer;
    transition: border 0.3s ease;
}

.lower h2:hover {
    border: 1px solid #5151e6;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.5);
}

.container .back {
    margin-top: 20px;
    color: #008CD9;
    cursor: pointer; 
}

h1.na {
    line-height: 2.488rem;

}

button.na {
    margin-top: 30px;

}